<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mng.r.lydia.insuranceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ListItems" />
        <activity android:name=".PrivateInsurance" />
        <activity android:name=".CompanyListPrivateCar" />
        <activity android:name=".CategoriesPrivateCar" />
        <activity android:name=".ThirdPartyOnlyCompanyA" />
        <activity android:name=".ComprehensiveInsuranceComapnyA" />
        <activity android:name=".CategoriesforPrivateMotorcycle" />
        <activity android:name=".CompanyListMotorcycle" />
        <activity android:name=".ClaimsCategories" />
        <activity android:name=".Documents" />
        <activity android:name=".SignUp" />
        <activity android:name=".Profile"></activity>
    </application>

</manifest>